{%  extends 'widget.html.twig' %}
{%  block widget %}
    {% if status == constant('StpBoard\\Heroku\\HerokuControllerProvider::STATUS_OK') %}
    <div class="herokuicon">
        <i class="glyphicon glyphicon-ok green"></i>
    </div>
    {% elseif status == constant('StpBoard\\Heroku\\HerokuControllerProvider::STATUS_WARNING') %}
    <div class="herokuicon">
        <i class="glyphicon glyphicon-fire orange"></i>
    </div>
    {%  else %}
    <div class="herokuicon">
        <i class="glyphicon glyphicon-remove red"></i>
    </div>
    {% endif %}
{%  endblock %}
