<style>
    .heroku {
        padding: 15px;
    }
    
    .heroku .herokuicon {
        font-size: 160px;
    }
    .heroku .title {
        font-size: 24px;
    }
    .herokuicon .green {
        color: limegreen;
    }
    .herokuicon .orange {
        color: orange;
    }
    .herokuicon .red {
        color: red;
    }
</style>
<div class="boardContent heroku">
    <div class="title">Heroku Status</div>
    {% block widget %}{% endblock %}
</div>
